<div id="trip-manager">
  <div class="total-distance" id="totalDistance">
  </div>
  <div class="coords-container" id="coords-list">
  </div>
  <div class="add-coord-button">
    Add Point to Trip
  </div>
</div>
