body {
  width: 100vw;
  height: 100vh;
  // padding: 0;
  // margin: 0;
}

#map-container {
  width: 100%;
  height: 100%;
}

.fadeOut {
  opacity: 0;
  transition: all 1s ease;
}

.displayNone {
  display: none;
  z-index: -1;
}

#trip-manager {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  min-height: 50px;
  height: auto;
  max-height: 500px;
  width: 400px;
  background: $mint-green;
  border: 2px solid $grey;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.coords-container {
  width: 100%;
  min-height: 0px;
  height: auto;
  max-height: 400px;
  overflow-y: auto;
  border-bottom: 2px solid $black;
}

.add-coord-button {
  background: $white;
  color: $black;
  font-weight: 900;
  line-height: 50px;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  border-bottom-left-radius: 8px;
}

.add-coord-button:hover {
  background: lighten($mint-green, 10%);
  color: $black;
  transition: all .3s ease;
  cursor: pointer;
}

.coord-item {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 10px 0px;
  display: flex;
  background: $white;
  position: relative;
  border: 1px solid $black;
}

.coord-text {
  text-align: center;
  width: 100%;
  height: 100%;
  border-right: 1px solid $white;
  max-width: 100%;
  overflow: hidden;
}

.total-distance {
  min-height: 0px;
  height: auto;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.4em;
  color: $white;
}

.coord-remove span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.35em;
  color: $mint-green;
  &:hover {
    cursor: pointer;
  }
}

table {
  font-size: .95em;
  margin-bottom: 0px !important;
  font-weight: 700;
}
