<!DOCTYPE html>
<html>
    <head>
      <title>Example</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <meta charset="utf-8">
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
      <!-- Includes all JS and CSS -->
      <script src="bundle.js" type="text/javascript" charset="utf-8"></script>
      {{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjkLLgUIxImM98f9zxXn0e7Ip6skwVLy8&callback=initMap"></script> --}}
    </head>
    <body class="container-fluid">
      {{{body}}}
    </body>
    <script id="api-url" src=""></script>
</html>
